html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    
    display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-direction: column;
    justify-content: center;

	-ms-flex-align: center;
	-webkit-align-items: center;
    -webkit-box-align: center;
    box-align: center;

    align-items: center;
    
    background-color: tomato;
    font-family: 'Permanent Marker', cursive;
}
.flex-item {
    width:100%;
    color: black;    
    font-size: 3.5em;
    text-align: center;
}

b {
    color: white;
}